<ion-header>
  <ion-navbar>
    <ion-title>Play Area</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-grid *ngIf="!endGame">
    <ion-row>
      <ion-col col-sm-12 class="h-60 d-flex flex-center">
        <div class="text-bold text-italic f-s-28">{{groupName}}</div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-sm-6 class="h-60 d-flex flex-center">
        <div class="text-center f-s-22">เหลือเวลา</div>
      </ion-col>
      <ion-col col-sm-6>
        <div class="text-center f-s-40">{{timeLeft}}</div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-sm-12 class="h-60 d-flex flex-center">
        <div class="text-center f-s-28">{{currentSentence}}</div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-sm-12 class="h-80 d-flex flex-center">
        <ion-input class="f-s-25" type="text" placeholder="ใส่คำตอบ" 
        [(ngModel)]="sentenceInput" (keyup)="validateInput($event)"></ion-input>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  <ion-grid *ngIf="endGame">
    <ion-row>
      <ion-col col-sm-12>
        <div class="f-s-30 text-bold text-center">เกมจบแล้ว</div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-sm-12>
        <button ion-button full (click)="moveToHome()" class="f-s-20">กลับไปที่หน้าแรก</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
