<ion-header>
  <ion-navbar>
    <ion-title>ฝึกการพิมพ์</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-grid *ngIf="!endGame" class="page-container">
    <ion-row class="m-b-5">
      <ion-col col-sm-12 class="h-60">
        <div class="d-flex flex-center group-content">
          <div class="row-content flex-center full-width">
            <div class="group-name p-l-5 p-r-5">
              <div class="text-center"s>{{groupName}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-sm-6 class="h-60 d-flex flex-center">
        <div class="text-center f-s-22">เหลือเวลา</div>
      </ion-col>
      <ion-col col-sm-6>
        <div class="text-center f-s-40">{{timeLeft}}</div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-sm-12 class="min-h-60 d-flex flex-center">
        <p class="text-center text-bold f-s-28 m-0" [ngClass]="{'scale-up-anim': isCorrect}">{{currentSentence}}</p>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col col-sm-12 class="h-80 d-flex flex-center">
        <ion-input class="f-s-25" type="text" placeholder="ใส่คำตอบ" 
        (keyup)="validateInput($event)" [(ngModel)]="sentenceInput"></ion-input>
        
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  <ion-grid *ngIf="endGame">
    <ion-row>
      <ion-col col-sm-12>
        <div class="f-s-30 text-bold text-center">เกมจบแล้ว</div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-sm-12>
        <button ion-button full (click)="moveToHome()" 
        class="f-s-20 primary-btn">กลับไปที่หน้าแรก</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
