page-play {
    .page-container {
        height: 100%;
        background: #ff9999;
        color: #a95151;
    }
    
    .group-content {
        height: 50px;
        margin: 5px;
        margin-bottom: 5px;
        background: #ff6666;
        box-shadow: 0px 1px 1px 0px #565252;
        color:white;
        border-radius: 6px;
        
        .index-mark {
            background: #ef3f3f;
            width: 10px;
            font-weight: bold;
        }
        
        .group-name {
            width: 100%;
            font-size: 28px;
        }
    }

    @keyframes scale-up{
        0% {
            transform: scale(1);                        
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);            
        }
    }

    .scale-up-anim {
        animation: scale-up 1s;
    }
    
}