page-home {
}

.group-container {
    height: 70%;
    overflow-y: scroll;
}

.group-content {
    height: 50px;
    margin: 5px;
    margin-bottom: 5px;
    background: #004080;
    color:white;
    font-size: 20px;

    .index-mark {
        background: #00ace6;
        width: 40px;
        font-weight: bold;
    }

    .group-name {
        width: 100%;
    }
}
