page-home {

}

.group-container {
    height: 70%;
    overflow-y: scroll;
}

.group-content {
    height: 50px;
    margin: 5px;
    margin-bottom: 5px;
    background: #ccc;

    .index-mark {
        background: gray;
        width: 30px;
    }

    .group-name {
        width: 100%;
    }
}
