page-home {
    .page-container {
        height: 100%;
        background: #ff9999;
    }
    
    .group-container {
        height: 70%;
        overflow-y: scroll;
    }
    
    .group-content {
        height: 50px;
        margin: 5px;
        margin-bottom: 5px;
        background: #a95151;
        color:white;
        font-size: 20px;
        
        .index-mark {
            background: #ef3f3f;
            width: 40px;
            font-weight: bold;
        }
        
        .group-name {
            width: 100%;
        }
    }
    
    .add-btn {
        background: #ff6666;
    }
    
    @keyframes fadeInLeft {
        from{
            opacity: 0;
            transform: translateX(-40px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .fade-in-anim {
        animation: fadeInLeft 1s;
        animation-fill-mode: forwards;
    }
    
}

