// http://ionicframework.com/docs/v2/theming/

.d-flex {
    display: flex !important;
}
.center-x {
    margin: auto !important;
}
.full-height {
    height: 100% !important;
}
.full-width {
    width: 100% !important;
}
.col-content {
    display: flex !important;
    flex-direction: row !important;
}
.row-content {
    display: flex !important;
    flex-direction: column !important;
}
.flex-center {
    justify-content: center !important; 
    align-items: center !important;
}

.text-bold {
    font-weight: bold !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-italic {
    font-style: italic !important;
}

$max: 500;
@for $i from 0 to $max {
    
    // Margin
    .m-#{$i} {
        margin: #{$i}px !important;
    }
    .m-l-#{$i} {
        margin-left: #{$i}px !important;
    }
    .m-r-#{$i} {
        margin-right: #{$i}px !important;
    }
    .m-t-#{$i} {
        margin-top: #{$i}px !important;
    }
    .m-b-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    
    // Padding
    .p-#{$i} {
        padding: #{$i}px !important;
    }
    .p-l-#{$i} {
        padding-left: #{$i}px !important;
    }
    .p-r-#{$i} {
        padding-right: #{$i}px !important;
    }
    .p-t-#{$i} {
        padding-top: #{$i}px !important;
    }
    .p-b-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    
    // Font
    .f-s-#{$i} {
        font-size: #{$i}px !important;
    }
    
    // Height and Width
    .h-#{$i} {
        height: #{$i}px !important;
    }
    .h-percent-#{$i} {
        height: percentage($i) !important;
    }
    .min-h-#{$i} {
        min-height: #{$i}px !important;
    }       
    
    .w-#{$i} {
        width: #{$i}px !important;
    }
    .w-percent-#{$i} {
        width: percentage($i) !important;
    }
    .min-w-#{$i} {
        min-width: #{$i}px !important;
    }      
    
    // Border
    .border-r-#{$i} {
        border-radius: #{$i}px !important;
    }

    // Flex
    .flex-#{$i} {
        flex: #{$i} !important;
    }
}

ion-input {
    border-radius: 6px;
    background: #ffcccc !important;
    color: #5f5f5f !important;
    font-weight: bold;
}

.toolbar-background-md {
    background: #c13a00;
    color: white;
}

.toolbar-title-md {
    color: white;
}

.scroll-content {
    padding: 0 !important;
    background: #ff9999 !important;
}

.primary-btn {
        background: #ff6666 !important;
        border-radius: 6px;
    }

.primary-btn:hover {
    background: #ef4343 !important;
}